<footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <h6 class="navbar-text">&copy; Copyright 2025. All rights reserved</h6>
      </nav>
    </footer>
    <script src="/Script/app.js"></script>
  </body>
</html>