<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">INFR3120</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if(title=="Home") { %>
            <a class="nav-link active" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/home"><i class="fa-solid fa-lg fa-house"></i> Home</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(title=="About us") { %>
            <a class="nav-link active" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/about"><i class="fa-solid fa-lg fa-circle-info"></i> About</a>
          <% } %>
        </li>
        <li class="nav-item">
          <% if(title=="Products") { %>
            <a class="nav-link active" aria-current="page" href="/products"><i class="fa-brands fa-lg fa-elementor"></i> Products</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/products"><i class="fa-brands fa-lg fa-elementor"></i> Products</a>
          <% } %>
        </li>
        <li class="nav-item">
        <% if(title=="Services") { %>
          <a class="nav-link active" aria-current="page" href="/services"><i class="fa-solid fa-lg fa-gears"></i> Services</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/services"><i class="fa-solid fa-lg fa-gears"></i> Services</a>
        <% } %>
        </li>
        <li class="nav-item">
        <% if(title=="Menu") { %>
          <a class="nav-link active" aria-current="page" href="/menu"><i class="fa-solid fa-lg fa-book"></i> Menu</a>
        <% } else { %>
          <a class="nav-link" aria-current="page" href="/menu"><i class="fa-solid fa-lg fa-book"></i> Menu</a>
        <% } %>
        </li>
        <li class="nav-item">
          <% if(title=="Contact us") { %>
            <a class="nav-link active" aria-current="page" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact us</a>
          <% } else { %>
            <a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-lg fa-phone"></i> Contact us</a>
          <% } %>
        </li>
        <% if(typeof displayName=='string' && displayName) { %>
          <li class="navbar-text">
            <i class="fas fa-lg fa-user"></i>
            Welcome, <%= displayName %>
          </li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout
            </a>
          </li>
        <% } else { %>
        <li class="nav-item">
          <a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login
          </a>
        </li>
        <% } %>
    </div>
  </div>
</nav>