<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
<div class="container my-5">

    <!-- Logo  -->
    <div class="text-center mb-4">
        <img src="/Asset/images/logo.png"
             alt="NukenNibble Logo"
             width="200"
             height="200"
             class="rounded-circle shadow-sm">
    </div>

    <!-- Company Info -->
    <div class="text-center mb-5">
        <h1 class="text-body-emphasis">About Nuke N' Nibble</h1>
        <p class="col-lg-8 mx-auto fs-5 text-muted mt-3">
            Nuke n’ Nibble, the world’s first and last restaurant where flavor meets fission and culinary boundaries are pushed far past what the Geneva Convention had in mind. Founded (by accident) when our head chef tried to microwave a meteor, Nuke N' Nibble has proudly been serving star systems accross the entire galaxy with ethically and biologically quiestionable entrees. </p>
    </div>

    <!-- Promise Cards -->
    <div class="row">

        <!-- Safety -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Safety</h3>
                <p class="text-muted mt-2">
                    <!--  Para -->
                    We equip every diner with tongs, a lead apron, and a waiver, and offer optional radiation goggles for an extra fee.
                </p>
            </div>
        </div>

        <!-- Sustainability -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Sustainability</h3>
                <p class="text-muted mt-2">
                    <!--  Para  -->
                    We recycle 100% of our leftover radiation and bio-waste by dumping them into ecosystems that need them more than we do, like rivers, young stellar nebulas, and hungry black holes.
                </p>
            </div>
        </div>

        

        <!-- Flavor -->
        <div class="col-md-4 mb-4">
            <div class="p-4 text-center bg-body-tertiary rounded-3 h-100 shadow-sm">
                <h3 class="text-body-emphasis">Flavor</h3>
                <p class="text-muted mt-2">
                    <!--  Para -->
                    If it doesn’t taste good, what’s the point of risking minor temporal paradoxes, major radiation exposure, and accidentally inventing a new element on your plate?
                </p>
            </div>
        </div>

    </div>

</div>

<%- include ./partials/footer.ejs %>